<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.name %></h1>
<p>
  Your book has been approved from admin. To see your book kindly visit https://book-review-web.firebaseapp.com
</p>
<p>Thank you for a part of Book Review App.</p>
</body>
</html>