<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to Book Review App</h1>
<p>
  You have successfully added book to https://book-review-web.firebaseapp.com,
</p>
<p>Your submission needs an approval from our admin. You will be notified once admin approve your book. Thanks for joining us have a great day!</p>
</body>
</html>