<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome Admin</h1>
<p>
  A book has been added to BookReviewApp.
</p>
<p>To approve this book, kindly login to https://book-review-web.firebaseapp.com, Thanks!</p>
</body>
</html>